{{ define "main" }}

<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background" style="padding-top:0px;">
  {{ partial "mobile_nav_toggle.html" . }}

    <div class="entry-header">
        <div class="entry-image">
            {{ if .Params.Image }}
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" >
            {{ else }}
            <img src="{{"img/articles/default.jpg" | absURL }}" alt="{{ .Title }}">
            {{ end }}
        </div>
    </div>
    <header class="header-title">
        <div class="header-title-wrap">
            <h1 class="entry-title">{{ .Title }}</h1>
            <!-- <h2><span class="entry-date date published"><time datetime="2020-04-19T00:00:00+01:00">April 19, 2020</time></span></h2>
            <p class="entry-reading-time">
            <i class="fa fa-clock-o"></i>
            Reading time ~13 minutes
            </p> -->
        </div>
    </header>
    <div class="row">
        <div class="col-lg-8">
            <div class="content-column-content">
                <!-- <h1>{{ .Title }}</h1> -->
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}
